
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SEC Filing</h2>
<h4 class="loading">LOADING...</h4>
<table id="secFiling" width="100%" cellpadding="5" cellspacing="5" border="1">
<thead>
    <tr>
        <th>Filing Date</th>
        <th>Form</th>
        <th>Description</th>
        <th>View</th>
    </tr>
</thead>
    <tbody>
    </tbody>
</table>

